.container {
    display: flex;
    flex-direction: column;

}
.link {
    text-decoration: none;
}
.btn {
    margin-left: 40px;
}
.btn_container {
    max-width: 60%;
    display: flex;
    justify-content: space-evenly;

    margin: 20px 0;
}