.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header {
    text-align: center;
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.field-container{
    margin-bottom: 25px;
}
.btn {
    max-width: 50%;
    align-self: center;

}
.item {
    width: 100%;
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
}
